<section class="container ff-inter" [ngClass]="thoughtActionClass()">
  <header class="header">
    <h2>
      {{ thought.id ? "Editar" : "Adicionar" }} um <br />
      Adicionar um <br />
      pensamento novo:
    </h2>
  </header>

  <form [formGroup]="form">
    <label for="content">Pensamento</label>
    <input
      class="input"
      type="textarea"
      formControlName="content"
      id="content"
      placeholder="Digite o pensamento"
    />
    <div
      class="mensagem__erro"
      *ngIf="form.get('content')?.errors && form.get('content')?.touched"
    >
      Pensamento é obrigatório
    </div>

    <label for="author">Autoria</label>
    <input
      class="input"
      type="textarea"
      formControlName="author"
      id="author"
      placeholder="Autoria ou Fonte"
    />
    <div
      class="mensagem__erro"
      *ngIf="form.get('author')?.errors?.['required'] && form.get('author')?.touched"
    >
      Autoria é obrigatória
    </div>
    <div
      class="mensagem__erro"
      *ngIf="form.get('author')?.errors?.['minLength'] && form.get('author')?.touched"
    >
      Autoria precisa de no mínimo 2 caracteres
    </div>
    <div
      class="mensagem__erro"
      *ngIf="form.get('author')?.errors?.['lowCase'] && form.get('author')?.touched"
    >
      Esse campo aceita apenas letras minúsculas
    </div>

    <label for="model">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="model1">
          <input
            id="model1"
            type="radio"
            formControlName="model"
            value="modelo1"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>

        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/modelo1.png"
            alt="Aspas azuis"
            srcset=""
          />
          <p class="conteudo">{{ form.get("content")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("author")?.value }}</b>
          </p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="model2">
          <input
            type="radio"
            formControlName="model"
            id="model2"
            value="modelo2"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>

        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/modelo2.png"
            alt="ASpas azul claro"
            srcset=""
          />
          <p class="conteudo">{{ form.get("content")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("author")?.value }}</b>
          </p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="model3">
          <input
            type="radio"
            formControlName="model"
            id="model3"
            value="modelo3"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>

        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/modelo3.png"
            alt="ASpas azul claro"
            srcset=""
          />
          <p class="conteudo">{{ form.get("content")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("author")?.value }}</b>
          </p>
        </div>
      </div>
    </div>

    <div class="acoes">
      <!-- <button *ngIf="thought.id" class="botao" (click)="editThougth()">
        Editar
      </button>
      <button *ngIf="!thought.id" class="botao" (click)="createThougth()">
        Salvar
      </button> -->
      <button
        [disabled]="!form.valid"
        [ngClass]="enableButton()"
        (click)="createThougth()"
      >
        Salvar
      </button>
      <button class="botao" (click)="cancel()">cancelar</button>
    </div>
  </form>
</section>
