<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="O que você procura?"
        name=""
        id=""
        autofocus
        [(ngModel)]="filter"
        (keyup)="searchThoughts()"
      />
      <img src="/assets/imagens/lupa.png" alt="Lupa" />
    </div>
    <h2 class="ff-inter">{{ listTitle }}</h2>

    <div class="botoes">
      <button class="botao" (click)="reloadComponent()">Meu Mural</button>
      <button class="botao" (click)="getListFavorites()">Meus Favoritos</button>
      <button class="botao" routerLink="/criarPensamento">
        Novo pensamento
      </button>
    </div>
  </header>

  <div class="mural" *ngIf="listThoughts.length > 0; else noThoughts">
    <div *ngFor="let thought of listThoughts">
      <app-thought
        [thought]="thought"
        (favoriteUpdated)="onFavoriteUpdated($event)"
      ></app-thought>
    </div>
  </div>
</section>

<app-button-load-more
  [hasMoreThoughts]="hasMoreThoughts"
  (click)="loadMoreThougths()"
></app-button-load-more>

<ng-template #noThoughts>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados</p>
  </div>
</ng-template>
